.wg_recyclerview {
    height: 100%;
}

.wg_recyclerview > div {
    position: relative;
}

.wg_recyclerview > div > * {
    position: absolute;
}
.scroll_head {
    scrollbar-gutter: stable both-edges;
}

.scroll_body {
    margin: 0px -9px;
}